@charset "utf-8";
ul {
    margin: auto;
    padding: .5px;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    
}
li {
    float: left;
}
li  {
    display: block;
    padding: 16px;
    color: white;
    text-align: center;
    
}
a {
  text-decoration: none;
}
/*test*/
